@use "../abstract/vars" as *;
/*
  ==== Buttons ====
*/

.btn-cta {
  color: var(--dark-blue-co);
  font-weight: 600;
  padding: 17px 30px;
  border: 1px solid var(--black-co);
  transition: all 0.3s;
  background-color: white;

  @media ($max: $breakpoint768) {
    padding: 8px 15px;
  }
  @media (any-hover: hover) {
    &:hover {
      color: var(--red-co);
      border: 1px solid var(--red-co);
    }
  }
}


.btn-next,
.btn-prev {
  position: static;
  border: 1px solid;
  width: 1.5rem;
  height: 1.5rem;
  color: black;
  background-color: white;
  z-index: 200;
  margin: 0;

  @media ($min: $breakpoint768) {
    display: flex;
  }
  &::after {
    font-size: 0.9375rem;
  }
}

.btn-next {
 
}

.btn-prev {
  
}
