@use "../abstract/vars" as *;
/*
  ==== Nav ====
*/

.nav {
  background-color: rgba(0, 119, 134, 0.651);
  overflow: hidden;

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.menu {
  display: flex;
  & {
    @media screen and (max-width: $burgerBreakpoint) {
      position: fixed;
      background: #131418;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      display: none;

      &.active {
        display: flex;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        pointer-events: all;
        justify-content: center;
        align-items: center;
        z-index: 22;
        animation: fade 0.1s linear;
      }

      .menu__item {
        margin-top: 15px;
      }

      .menu__item-link {
        color: white;
      }
    }
  }

  // .menu__item
  &__item {
    margin-left: 25px;
  }

  // .menu__item-link
  &__item-link {
    color: white;
  }
}
