@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;
/*
   ==== Brands ====
*/

.brands {
  padding-bottom: 4.375rem;
  @media ($min: $breakpoint768) {
    padding-bottom: 7.25rem;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 1.3rem;

    @media ($min: $breakpoint768) {
      column-gap: 4.375rem;
      row-gap: 1.875rem;
    }
  }

  &__item {
    img {
      width: 7.5rem;

      @media ($min: $breakpoint768) {
        width: 11.25rem;
      }
      @media ($min: $breakpoint992) {
        width: 100%;
      }
    }
  }
}
