@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;
/*
   ==== Categories ====
*/

.categories {
  &__wrapper {
  }

  &__text {
  }

  &__gallery {
    margin-bottom: 50px;
  }

  &__grid {
  }

  &__btn {
    text-align: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 17.8125rem;
  gap: 1.5625rem;

  @media ($max: $breakpoint992) {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    grid-auto-rows: 15.625rem;
    gap: 1.25rem;
  }

  @media ($max: $breakpoint768) {
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
    grid-auto-rows: 15.625rem;
    gap: 0.9375rem;
  }
  @media ($max: $breakpoint480) {
    grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
    grid-auto-rows: 11.875rem;
    gap: 0.9375rem;
  }

  @media ($max: $breakpoint375) {
    grid-template-columns: 1fr;
    grid-auto-rows: 13.75rem;
    gap: 0.9375rem;
  }

  &__item {
    position: relative;

    @media (any-hover: hover) {
      &:hover > div {
        inset: 5%;
      }
    }
    &:first-child {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;

        @media ($max: $breakpoint375) {
       grid-column: 1 / span 1;
      grid-row: 1 / span 2;

  }
    }

    &:first-child > div {
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.33),
        rgba(0, 0, 0, 0.33)
      );
    }

    &:first-child a {
      color: white;
      font-style: normal;
      font-weight: 600;
      font-size: 3rem;
      line-height: 100%;
      padding: 1.25rem 5rem;
      visibility: visible;
      opacity: 1;

      @media ($max: $breakpoint480) {
        padding: 0.625rem 1.875rem;
      }
    }

    img {
      object-fit: cover;
      height: 100%;
      object-position: center;
    }
  }

  &__item-link {
    position: absolute;
    inset: 0;
    background: transparent;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
    padding: 0 0.625rem;

    @media (any-hover: hover) {
      &:hover {
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.33),
          rgba(0, 0, 0, 0.33)
        );

        a {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    a {
      color: white;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 100%;
      border: 1px solid white;
      padding: 0.625rem 2.5rem;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease;

      @media ($max: $breakpoint768) {
        padding: 0.3125rem 1.25rem;
      }

      @media (any-hover: hover) {
        &:hover {
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.33),
            rgba(0, 0, 0, 0.33)
          );
        }
      }
    }
  }
}
