@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;
/*
   ==== Hero ====
*/

.hero {
  padding: 60px 0 120px 0;

  &__wrapper {
    position: relative;
    z-index: 50;
    margin-bottom: 3.125rem;
    @media ($max: $breakpoint768) {
    }
  }

  &__text {
    text-align: center;
    position: relative;
    z-index: 1000;
  }

  &__title {
    font-family: var(--ff-Playfair);
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 100%;

    @media ($max: $breakpoint992) {
      font-size: 44px;
    }
    @media ($max: $breakpoint768) {
      font-size: 34px;
    }
  }

  &__sub-text {
    max-width: 32.1875rem;
    margin: 1.875rem auto;
    font-size: 0.875rem;
    line-height: 130%;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.1875rem;
    & > .play {
      width: 3.125rem;
      height: 3.125rem;
      background-color: white;
      & > i {
        font-size: 2rem;
        transition: all 0.3s;
        @media (any-hover: hover) {
          &:hover {
            color: red;
          }
        }
      }
    }
  }

  &__img-box {
     picture {
      &:nth-child(1) {
        display: none;
        @media ($min: $breakpoint768) {
          display: block;
          position: absolute;
          z-index: 1;
          top: 10%;
          left: -3.125rem;
          width: 25%;
        }
      }

      &:nth-child(2) {
        display: none;

        @media ($min: $breakpoint768) {
          display: block;
          position: absolute;
          top: 20%;
          right: -50px;
          width: 15%;
          z-index: 1;
        }

        @media ($max: 1495px) {
          right: 0;
        }
      }
      &:nth-child(3) {
        display: none;
        @media ($min: $breakpoint768) {
          display: block;
          position: absolute;
          top: 60%;
          right: 15%;
          width: 10%;
          z-index: 1;
        }
      }
    }
  }
  &__slider-block {
    position: relative;
  }
}

.slider__slide.swiper-slide {
  position: relative;
  width: 14.375rem;
  height: 20.625rem;
  @media ($min: $breakpoint480) {
  }

  @media ($min: $breakpoint768) {
    width: 15.625rem;
    height: 21.875rem;
  }

  @media ($min: $breakpoint992) {
    width: 23rem;
    height: 34rem;
  }

  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
}

.slide__box {
  position: absolute;
  inset: 0;
}

.slide__info {
  position: absolute;
  z-index: 30;
  padding: 0.75rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.342);
  min-width: 6.5625rem;
  min-height: 3.375rem;
}

.slide__name {
  font-weight: 500;
  font-size: 0.875rem;
  color: white;
  text-shadow: 0px 4px 9px rgba(31, 39, 83, 0.1);
  letter-spacing: 0.02em;
  margin-bottom: 0.5rem;
}

.slide__price {
  font-weight: 500;
  font-size: 0.75rem;
  text-shadow: 0px 4px 9px rgba(31, 39, 83, 0.1);
  color: white;
  letter-spacing: 0.02em;
}
.jacket {
  top: 15%;
  left: 10%;

  &::after {
    content: "";
    border-radius: 50%;
    border: 0.125rem solid white;
    position: absolute;
    width: 1.0625rem;
    height: 1.0625rem;
    right: -0.5rem;
    background: #f9f9f9a9;
  }
}

.hero-btn-next.swiper-button-next,
.hero-btn-prev.swiper-button-prev {
  display: none;
  border: 1px solid;
  width: 3.125rem;
  height: 3.125rem;
  color: black;
  background-color: white;
  border-radius: 50%;
  z-index: 200;

  @media ($min: $breakpoint768) {
    display: flex;
  }
  &::after {
    font-size: 1.25rem;
  }
}

.hero-btn-next.swiper-button-next {
  right: -1.5625rem;
}

.hero-btn-prev.swiper-button-prev {
  left: -1.5625rem;
}


