@use "../abstract/vars" as *;
/*
  ==== Containers ====
*/

.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding+px;


}

