/*
  ==== Base ====
*/

html {
  font-size: 100%;
}

body {
  font-family: var(--ff-Lato);
  font-size: var(--fs-body);
  color: var(--dar-blue-co);
  font-weight: 400;

  &.locked {
    overflow: hidden;
  }
}
