@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;
/*
  ==== Base ====
*/

html {
  font-size: 100%;
}

body {
  font-family: var(--ff-Lato);
  font-size: var(--fs-body);
  color: var(--dar-blue-co);
  font-weight: 400;

  &.locked {
    overflow: hidden;
  }
}

section {
  padding-bottom: 4.375rem;
  @media ($min: $breakpoint768) {
    padding-bottom: 7.25rem;
  }
}

.base.swiper-pagination {
  position: static;
  width: fit-content;
}

.swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}
